ALTER PROCEDURE [dbo].[INSERISCI_NUOVO_UTENTE]
	@NOME NVARCHAR(20),
	@COGNOME NVARCHAR(20),
	@USERNAME NVARCHAR(10),
	@EMAIL NVARCHAR(30),
	@DATA_NASCITA NVARCHAR(10),
	@CF NVARCHAR(16),
	@NUMERO_TELEFONO NVARCHAR(10),
	@PASSWORD_DIP NVARCHAR(20)

AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @MATRICOLA NVARCHAR(10) = 
	(SELECT TOP 1 CAST(MATRICOLA AS INT) 
			FROM UTENTI ORDER BY MATRICOLA DESC)
	SET @MATRICOLA = @MATRICOLA + 1;
		
	INSERT INTO 
	UTENTI(MATRICOLA,NOME,COGNOME,EMAIL,PASSWORD_DIP,DATA_NASCITA,CF,NUMERO_TELEFONO,USERNAME)
	VALUES(@MATRICOLA,@NOME,@COGNOME,@EMAIL,@PASSWORD_DIP,@DATA_NASCITA,@CF,@NUMERO_TELEFONO,@USERNAME);

END
