<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>link url del db</description>
        <param-name>DB-URL</param-name>
        <param-value>jdbc:sqlserver://DESKTOP-O9J7C1E\\HASSAN:1434;databaseName=LIBRERIA;integratedSecurity=true;</param-value>
    </context-param>
    <servlet>
        <servlet-name>loginDipendente</servlet-name>
        <servlet-class>Servlets.loginDipendente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrazioneNuovoUtente</servlet-name>
        <servlet-class>Servlets.registrazioneNuovoUtente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginDipendente</servlet-name>
        <url-pattern>/loginDipendente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrazioneNuovoUtente</servlet-name>
        <url-pattern>/registrazioneNuovoUtente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
